<div class="mt-5">
	<%= form_with model: @client, url: bank_app_index_path, data: {turbo: false} do |f| %>
		<div class="d-flex flex-column mb-3 justify-content-center align-items-center">
			<div class="mb-2">
				<%= f.text_field :username, class: "form-control", placeholder: 'Enter your Username' %><br>
			</div>
			<div class="mb-2">
				<%= f.password_field :password,  class: "form-control", placeholder: 'Enter your Password' %><br>
			</div>
			<div class="d-flex justify-content-between">
				<div class="mb-2">
					<%= link_to "Sign Up!", sign_up_path, class: "btn btn-primary"%>
				</div>
				<div class="mb-2">
					<%= f.submit "Sign In!", class: "btn btn-primary" %>
				</div>
			</div>
		</div>
	<% end %>
</div>